body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {  color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: hidden;}
body,html {height: 100%;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.clear {clear: both;}

.wrapper {  margin: auto; padding: 0; }
.wrapper,.menu,.primary,.secondary {height: 100%; }
.menu { float:left; width: 350px;height: 100%; }
.menu .primary {float: left; width: 100px; background-color: #1d2531; }
.menu .primary ul li { text-align: center; margin-top: 20px;}
.menu .primary ul li:hover {background: url("../images/hoverbg.png") no-repeat 0 center;}
.menu .primary .bottom {position: absolute;height: 16px; width: 62px; padding: 0 17px; bottom:20px;}
.menu .primary .bottom span {margin: 0 5px;}
.menu .secondary {float:right; width: 250px;background-color: #222c3c;}
.menu .secondary ul {margin: 20px 0;}
.menu .secondary ul li { height: 36px; line-height: 36px;}
.menu .secondary ul li a{display:block; color: #b7c0cd; padding:0 30px; }
.menu .secondary ul li a:hover{background: url("../images/hoverbg.png") no-repeat 0 center; color: #fff; text-decoration: none;}
.menu .secondary ul li:first-child {color: #5b6779;  padding:0 30px; }
.menu .secondary ul li em {display:inline-block; width:18px;text-align: center; margin-right: 10px;}
.menu .secondary ul li em img {vertical-align: middle;}
.menu .secondary .not1 { float: right;}
.menu .secondary .not1 a{ padding: 0;}
.menu .secondary .not1 a:hover{background: none; }
.menu .secondary .not2 {float: right; width: 32px; height: 24px;line-height:24px; text-align: center; margin:6px 0; background-image: linear-gradient(to bottom, #1991eb, #1991eb); border-radius: 12px;}
.menu .secondary span.not2  {color: #fff;}
.menu .secondary span.not3 {float: right; width: 24px; height: 24px;line-height:24px; text-align: center; margin:6px 0; background-image: linear-gradient(to bottom, #f45438, #cb270a); border-radius: 12px; color: #fff;}
.menu .secondary .line { margin:0 30px;border-bottom: 1px solid #2a3547;}
.menu .secondary .bottom { position: absolute; bottom:0; padding: 30px;}
.menu .secondary .bottom div { font-size:12px;line-height: 40px; color: #fff;}
.menu .secondary .bottom .base {position: absolute; background-color: #475364;width:190px; height: 4px; border-radius: 2px;}
.menu .secondary .bottom .fill {position: relative; background-image: linear-gradient(to right, #7f5be6, #9d8fe3); height: 4px; border-radius: 2px; }
.chat { margin-left: 350px; }
.chat .top {height: 80px; padding: 0 30px; border-bottom: 1px solid #e6e9ec; }
.chat .top .mes {float: left;line-height: 80px; font-size:24px; }
.chat .top .header {float: right; padding: 15px 0;}
.chat .top .header .photo { float: left;}
.chat .top .header .info {float: left; margin-left: 10px; padding: 5px 0;}
.chat .top .header .info h1 {font-size: 16px; line-height: 20px; color: #2399f1;}
.chat .top .header .info h2 {font-size: 14px; line-height: 20px; color: #b5b5b5;}
.chat .top .header .dropdown {float: left; margin-left: 45px;padding: 15px 0; }
.chat .bottom {height: 100%;  }
.chat .bottom .chats {float: left; width: 399px;height: 100%; border-right: 1px solid #e6e9ec; }
.chat .bottom .chats .search { height: 36px; padding: 17px 0 17px 12px;border-bottom: 1px solid #e6e9ec; }
.chat .bottom .chats .search .search_input { width: 340px; height: 34px; line-height: 34px; border:  1px solid #e6e9ec; border-radius:4px; padding: 0 50px 0 10px;position: absolute; }
.chat .bottom .chats .search .searchicon {position: relative; right: -320px; top:8px; z-index: 9999;}
.chat .bottom .chats .chat_list {  }
.chat_list ul { }
.chat_list ul li {display: block; padding: 15px 20px 20px 30px;border-bottom: 1px solid #e6e9ec;border-left:3px solid #fff; cursor: pointer; }
.chat_list ul li:hover {  border-left:3px solid #2399f1;}
.chat_list .head {}
.chat_list .head .photo {float: left;}
.chat_list .head .info {float: left; margin-left: 10px; padding: 3px 0;}
.chat_list .head .info h1 {font-size: 16px; line-height: 20px;}
.chat_list .head .info h2 { line-height: 20px; color: #b5b5b5}
.chat_list .head .ago {float: right; color: #7f8fa4;}
.chat_list .content { font-size: 12px; line-height: 20px;}
.chat_list .content span { float: right; display: block; width: 24px; height: 24px;line-height:24px; text-align: center; margin:6px 0; background-image: linear-gradient(to bottom, #1991eb, #2ea1f8); border-radius: 12px; color: #fff;}
.new_chat {color: #2399f1; font-weight: bold;}
.chat .openchat { margin-left: 400px; }
.chat .openchat .sbar {height: 34px;  padding: 18px 30px; border-bottom: 1px solid #e6e9ec;}
.chat .openchat .sbar .profile_name {font-size: 18px; line-height: 34px; float: left; width: 84%; }
.chat .openchat .sbar .profile_name .tools { float: right;}
.chat .openchat .sbar .profile_name .tools ul { height:30px; width: 108px; border: 1px solid #ced0da; border-radius: 4px;  background-image: linear-gradient(to bottom, #ffffff, #f1f3f7);}
.chat .openchat .sbar .profile_name .tools ul li {float: left; height: 30px; line-height: 35px; width: 35px; text-align: center; cursor: pointer;}
.chat .openchat .sbar .profile_name .tools ul li:nth-child(2) { border-left:1px solid #ced0da; border-right:1px solid #ced0da; }
.chat .openchat .sbar .pages {width: 140px; margin-left: 86%; height: 30px;line-height: 30px;  border-left: 1px solid #ced0da; padding-left: 20px;}
.chat .openchat .sbar .pages .arrows {float: right; width: 73px;}
.chat .openchat .sbar .pages .arrows ul {height:30px; width: 73px; border: 1px solid #ced0da; border-radius: 4px;  background-image: linear-gradient(to bottom, #ffffff, #f1f3f7);}
.chat .openchat .sbar .pages .arrows ul li {height: 30px; float: left; line-height: 30px; width: 36px; text-align: center;}
.chat .openchat .sbar .pages .arrows ul li:first-child {border-right: 1px solid #ced0da;}
.openchat .messages { }
.openchat .messages ul {  padding-bottom: 25px; }
.openchat .messages ul li {padding: 8px 30px;}
.openchat .messages ul li .avatar { float: left; padding-top: 10px;}
.openchat .messages ul li .info { margin-left: 70px;}
.openchat .messages ul li .info h1 {font-size: 16px; line-height: 30px;}
.openchat .messages ul li .info h1 span{margin-left: 10px; font-size: 14px; color: #7f8fa4;}
.openchat .messages ul li .info p {line-height: 20px;}
.openchat .messages .line {border-bottom: 1px solid #e6e9ec; position: relative;}
.openchat .messages .line_news {border-bottom: 1px solid #3aa6f7; position: relative; color: #3aa6f7}
.divider {position: absolute; bottom: -15px; line-height: 30px; left: 45%; padding: 0 30px; background-color: #fff;}
.openchat .messages .photos {}
.openchat .messages .photos .photo {display:inline-block;margin-top: 10px; margin-right: 10px; height: 100px; width: 156px; position: relative; }
.zz {display:none;position:absolute;background-color: #000;  height: 100px; width: 156px; line-height:100px;bottom:0px; border-radius: 4px;text-align: center; vertical-align: middle; opacity: 0.45;}
.zz img {vertical-align: middle;}
.openchat .messages .photos .photo:hover .zz {display: block; cursor: pointer;}
.write {width: 93%; height: 52px; border: 1px solid #dfe3e9; padding: 0 10px; }
.addicon {display:block; height: 52px; width: 52px; line-height: 52px; border: 1px solid #dfe3e9;border-radius: 4px 0 0 4px; float: left; text-align: center;background-image: linear-gradient(to bottom, #ffffff, #f1f3f7);}
.addicon img {vertical-align: middle;}
.addicon {border-right: none; cursor: pointer;}