body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {  color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.wrapper {font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti; background-color: #fff;  width:800px; margin: 25px auto 25px;  border: 1px solid #e5e5e5;}
.cv_title {font-size: 28px; font-weight: bold; line-height: 50px; background-color: #ccc;padding: 15px;}
.cv_info {}
.cv_info .shown { border-bottom: 1px solid #d4d4d4; }
.cv_info .shown .subtitle {font-size: 20px; font-weight: bold; line-height: 100px; float: left; background-color: #e5e5e5; padding: 0 20px;}
.cv_info .shown .content {font-size: 16px;  line-height: 50px;  padding: 0 20px; float: left;}
.cv_info .shown .content span { display: block; float: left; margin-right: 15px;}
.cv_info .shown .content h3 {font-size: 16px; font-weight: bold; line-height: 30px; margin-top: 8px; float: left; }
.cv_info .shown .content p{ line-height: 30px; margin-top: 8px; float: left; }